<footer class="text-center py-4 bg-dark text-light">
    <div class="container">
        <h5 class="mb-4">Invented for life</h5>
        
        <div class="footer-links mb-3">
            <a href="https://www.bosch.in/contact/" class="text-light mx-2">General contact info</a>
            <a href="https://www.bosch.com/licenses-and-patents/" class="text-light mx-2">Licenses and patents <i class="fas fa-external-link-alt"></i></a>
            <a href="https://www.bosch.com/company/supply-chain/" class="text-light mx-2">Purchasing and logistics <i class="fas fa-external-link-alt"></i></a>
            <a href="https://www.bosch.in/our-company/full-circle-with-bosch/" class="text-light mx-2">Full Circle with Bosch</a>
            <a href="https://psirt.bosch.com/" class="text-light mx-2">Product security (PSIRT) <i class="fas fa-external-link-alt"></i></a>
        </div>
        
        <div class="social-icons mb-4">
            <a href="https://www.linkedin.com/company/bosch-india/" class="text-light mx-2"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/c/BoschIndiaOfficial" class="text-light mx-2"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/BoschIndia" class="text-light mx-2"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/bosch.india/#" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com/boschindia/" class="text-light mx-2"><i class="fas fa-times"></i></a> <!-- This may represent a close or dismiss button -->
        </div>
        
        <div class="footer-bottom-links d-flex justify-content-center flex-wrap">
            <a href="#" class="text-light mx-2">© Bosch Limited 2024, all rights reserved</a>
            <a href="https://www.bosch.in/corporate-information/?prevent-auto-open-privacy-settings" class="text-light mx-2">Corporate information</a>
            <a href="https://www.bosch.in/legal-notice/?prevent-auto-open-privacy-settings" class="text-light mx-2">Legal notice</a>
            <a href="https://www.bosch.in/data-protection-notice/?prevent-auto-open-privacy-settings" class="text-light mx-2">Data protection notice</a>
            <a href="https://psirt.bosch.com/" class="text-light mx-2">Privacy settings</a>
        </div>
    </div>
</footer>
