<style>
   
  
    .navbar-brand img {
        height: 255px; /* Keeps the logo height */
        width: auto; /* Maintains aspect ratio */
    }
  </style>
  
  <header>
      <nav class="navbar navbar-light bg-white">
          <a class="navbar-brand mx-auto" href="https://www.bosch.in/">
              <img src="../images/BOSCH.png" alt="Bosch Logo">
          </a>
      </nav>
  </header>
  